html, body, #root, .app {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

textarea {
    border: none !important;
    overflow: auto;
    outline: none !important;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.notes {
	width: 100%;
	height: 100%;
	font-size: 3vh;
	font-family: Arial, Helvetica;
	padding: 5px;
	box-sizing: border-box;
	border: none;
	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
}

.notes.darkMode {
	background: #000;
	color: #fff;
}

.notes.cobalt {
	background: #193549;
	color: #fff;
}